body {
    font-family: Verdana, Helvetica, sans-serif;
    background: url("../assets/dog.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#forward-blog {
    z-index: 1;
    position: relative;
}

#forward-new{
    z-index: 1;
    position: relative;
}

.white-label {
    color: white;
}